//
// Base definitions
* {
  box-sizing: border-box;
}

body {
  background-color: #000;
  margin: 0;
  padding: 0;
  max-width: 1200px;
}
header {
  width: 100%;
  height: 50px;
  margin-bottom: 8px;
}
h1 {
  color: #fff;
}
img {
  width: inherit;
  max-width: 100%;
  height: auto;
}
ul {
  padding: 0;
}
section {
  text-align: center;
  padding: 5px 5px 0 5px;
}
a,p,span {
  color: #fff;
}
h1 {
  margin: 0;
}

@media screen and (min-width: 590px) {

    header {
        margin-bottom: 47px;
    }

    h1 {
        font-size: 40px;
    }

    p {
        font-size: 25px;
    }

}

