.hiddenCard{
    visibility: hidden !important;
}
.field {
    width: 21%;
    float: left;
    cursor: pointer; 
    margin: 4px;
}
.inner-wrap {
    width: 100%;
    height: 100%
}
.front-card {
    background: url(../../../images/faceSmall1.png) no-repeat;
    width: 100%;
    height: 13vh;
    background-size: cover;
    text-align: center;
}
#card-cat {
    background: url(../../../images/catSmall.png) no-repeat;
    background-size: cover;
}
#card-skull {
    background: url(../../../images/skullSmall.png) no-repeat;
    background-size: cover;
}
#card-boiler {
    background: url(../../../images/boilerSmall.png) no-repeat;
    background-size: cover;
}
#card-candy {
    background: url(../../../images/candySmall.png) no-repeat;
    background-size: cover;
}
#card-ghost {
    background: url(../../../images/ghostSmall.png) no-repeat;
    background-size: cover;
}
#card-rip {
    background: url(../../../images/ripSmall.png) no-repeat;
    background-size: cover;
}
#card-boilerOrange {
    background: url(../../../images/boiler_orangeSmall.png) no-repeat;
    background-size: cover;
}
#card-pumpkin {
    background: url(../../../images/pumpkinSmall.png) no-repeat;
    background-size: cover;
}
#card-bone {
    background: url(../../../images/boneSmall.png) no-repeat;
    background-size: cover;
}
#card-hat {
    background: url(../../../images/sombreroSmall.png) no-repeat;
    background-size: cover;
}

@media screen and (min-width: 700px) {
    .front-card {
        background: url(../../../images/face2.png) no-repeat;
    }
    #card-cat {
        background: url(../../../images/Cat.png) no-repeat;
    }
    #card-skull {
        background: url(../../../images/Skull.png) no-repeat;
    }
    #card-boiler {
        background: url(../../../images/boiler.png) no-repeat;
    }
    #card-candy {
        background: url(../../../images/Candy.png) no-repeat;
    }
    #card-ghost {
        background: url(../../../images/Ghost.png) no-repeat;
    }
    #card-rip {
        background: url(../../../images/RIP.png) no-repeat;
    }
    #card-boilerOrange {
        background: url(../../../images/boiler_orange.png) no-repeat;
    }
    #card-pumpkin {
        background: url(../../../images/Pumpkin.png) no-repeat;
    }
    #card-bone {
        background: url(../../../images/Bone.png) no-repeat;
    }
    #card-hat {
        background: url(../../../images/Sombrero.png) no-repeat;
    }
}







